tqdm
spacy[cuda,transformers]==3.1.0
numpy
sklearn
torch
datasets
fastapi[all]
jinja2
aiofiles
jsonlines
bloom-filter2
pydantic
cachetools
nltk
matplotlib
tabulate

#generationary dependency
nltk
sacremoses
fairseq