<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Load Plotly.hs -->
    <script src='https://cdn.plot.ly/plotly-2.3.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="{{ url_for('static', path='/search.js') }}"></script>

    <title>Word Vector Search</title>
</head>
<body>
<div class="container-fluid" style="padding: 40px">
<form id="search_form">
    <div class="mb-3">
        <label for="search_text_area" class="form-label">Example textarea</label>
        <textarea class="form-control" id="search_text_area" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

  <div class="row" style="padding-top: 25px">
    <div class="col-6">
        <div class="card" id="list_card" style="display: none;">
          <div class="card-header">
            Examples most similar to input
          </div>
          <div class="card-body">
                <ul class="list-group list-group-flush" id="sentence_list" style="
                    max-height: 800px;
                    margin-bottom: 10px;
                    overflow:scroll;
                    -webkit-overflow-scrolling: touch;">
                </ul>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="vis_card" style="display: none;">
          <div class="card-header">
            Sense clusters
          </div>
          <div class="card-body">
            <div id='visualization'><!-- Plotly chart will be drawn inside this DIV --></div>
          </div>
        </div>
    </div>
  </div>


</div>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>